<% @posts.each do |post| %>
    <h1><%= link_to post.title, post_path(post) %></h1>
    <p><%= raw truncate_html(post.body, 40) %></p>
    <p><%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></p>
<% end %>

<%= link_to 'New Post', new_post_path %>
